body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#fff;
    max-width: 1440px;
    margin: auto;
}

a { text-decoration: none;
    padding: 0;
}

ul {list-style: none; 
    margin:0;
    padding-left:0; 
}

h1,h2,h3,p { margin:0;}

.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

section {padding:120px 0;}

.header {
    border-bottom: 1px solid #e7e9fc;
}

img {display: block;}




.container-navigation{
    width: 1158px;
    display: flex;
    margin:24px auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navigation-box{
    display: flex;
    align-items: center;
    padding: 24px 0;
}

.navigation-menu{
    display: flex;
    gap: 40px;
}

.contacts {
    display: flex;
    font-style: normal;
    gap: 40px;
    margin-left: 332px;
}

.logo-web{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-stud{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.page-navigation-menu{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.page-navigation-menu:hover{
    color: #404bbf;
}

.page-navigation-menu:focus{
    color: #404bbf;
}

.page-contacts{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.page-contacts:hover{
    color: #404bbf;
}

.page-contacts:focus{
    color: #404bbf;
}





.main-page-container{
    background: #2e2f42;
    padding: 188px 0;
    
}


.main-page-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin-left: 331px;

}

.main-page-btn{
    display: block;
    align-items: center;
    min-width: 169px;
    height: 56px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    margin-left: 495px;
    margin-top: 48px;
}

.main-page-btn:hover{
    background: #404bbf;
}

.main-page-btn:focus{
    background: #404bbf;
}


.section-advantages{
    padding: 120px 0
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-advantages-cont{
    display: flex;
    gap: 24px;
}

.page-advantages-cont-first-list{
    width: calc((100% - 72px) / 4);
}

.page-advantages-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.page-advantages-text{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.team-cont{
    background: #f4f4fd;
}

.team-page-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-page-photo-cont{
    display: flex;
    gap: 24px;
}

.team-page-photo-box {
    background-color: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-page-photo-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding-top: 32px;
}

.team-page-photo-descr{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 32px;
}




.portfolio-page-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-photo-cont {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;

}

.portfolio-photo-box {
    border: 1px solid #e7e9fc;
    width: calc(100% - 24px) / 3;
}

.portfolio-page-photo-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 32px;
    margin-left: 16px;
}

.portfolio-page-photo-descr{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 8px;
    margin-bottom: 32px;
    margin-left: 16px;
}

.under-page{
    background: #2e2f42;
    padding-bottom: 100px;
    padding-top: 100px;
}

.logo-web-under {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}

.logo-stud-under {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    margin-bottom: 16px;
}

.text-under-page{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}