body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,h2,h3,p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}


.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 120px 0;
}


.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right:76px;
}

.logo-word {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;

}

.nav-link-studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    
.nav-link-studio::after{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    height: 4px;
    background: #404bbf;
    
    }

.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}

.nav-link:active:after{
    background: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-link:hover,.nav-link:focus,.nav-link:active {
    color: #404bbf;
    
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,.address-link:focus{
    color: #404bbf;
}



.section-solutions {
    background: #2e2f42;
    padding: 188px 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(.././images/main-page-fone-office.jpg);
    background-size: cover;
    margin: 0 auto;
    max-width: 1440px;

}

.solutions-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto 48px;
    max-width: 496px;

}

.solutions-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-btn:hover,.solutions-btn:focus,solutions-btn:active{
    background: #404bbf;
}


.advantages-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {
    display: flex;
    gap: 24px;
}

.advantages-item {
    width: calc((100% - 72px) / 4);

}

.advantages-box-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}





.section-ourteam {
    background: #f4f4fd;
}

.ourteam-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.ourteam-list {
    display: flex;
    gap: 24px;
}

.ourteam-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    width: 264px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.ourteam-item-box {
    padding: 32px 0
}

.ourteam-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.ourteam-dscr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.ourteam-icon-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-icon-item{
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-icon-link{
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-icon-link:hover,.ourteam-icon-link:focus {
    background-color: #404bbf;
}

.ourteam-icon-item .ourteam-icon{
    fill: #f4f4fd;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}


.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover, .portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    transition: transform 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-box {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    width: 360px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}

.portfolio-dscr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-overley-img{
    position: relative;
    overflow: hidden;
    width: 360px;
    height: 300px;
}

.portfolio-overley-text{
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;

    background-color: #4d5ae5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overley-text {
    transform: translateY(0);
}

.portfolio-item:focus .portfolio-overley-text {
    transform: translateY(0);
}



.footer {
    background: #2e2f42;
    padding: 100px 0;

}

.footer-cont{
    display: flex;
    align-items: baseline;
}


.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-word-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-dscr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}



.footer-logo-box{
    margin-right: 120px;
}

.footer-icon-link{
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-icon-link:hover, .footer-icon-link:focus {
    background-color: #31d0aa;
}

.footer-icon{
    fill:#f4f4fd ;
}

.footer-socila-descr{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-icon-list{
    display: flex;
    gap: 16px;
    
}

.footer-icon-item{
    width: 40px;
    height: 40px;    
}
